

img {
  border-radius: 50%;
  width: 120px;
  
}

a:link, a:visited,  a:hover, a:active
{
    color: #FFFFFF;
    text-decoration: none;
}

body {

	background: rgb(255,0,0);
background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(66,0,0,1) 100%);

	border: 10px solid #FFFFFF;	
	color: #FFFFFF;
	text-align: center;
	margin: 20px;
 	font-family: "Lucida Console", "Courier New", monospace;
}
       
