

img {
  border-radius: 50%;
  width: 120px;
  
}

a:link, a:visited,  a:hover, a:active
{
    color: #FFFFFF;
    text-decoration: none;
}

body {

	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	border: 10px solid #FFFFFF;	
	color: #FFFFFF;
	text-align: center;
	margin: 20px;
 	font-family: "Lucida Console", "Courier New", monospace;
}
       
